<% provide(:title, "About") %>

  <body>
    <h1> About | Adventure Holiday </h1>
     <fieldset>
 <br>
   <div id="reviewCol1">
    <p>
	When’s the last time you did something for the first time?
	At adventure holidays that’s what we’re all about,
	Holidays come and go, but firsts…well, they last a lifetime. Holidays come and go, but firsts…well, they last a lifetime.
	<br></br>
	The first time you painted outdoors in a tuscan valley. The first time you set foot
	on a glacier. The first whale shark you ever met. The first kayak trip with your
	family. The first time you walked though a forest of ferns at dawn.
	<br></br>
	Anyone can take a holiday, but an adventure takes you, somewhere amazing,
	somewhere unforgettable, adventure holidays,
	Your adventure starts here. Holidays come and go, but firsts…well, they last a lifetime. </p><br /><br />

    <br></br><br></br><br></br>

	<img src="/assets/headertext.png" width="420" height="60" alt="Your Adventure Starts Here" /> &nbsp;

   </div>
   
   <div id="reviewCol3">
   <img src="/assets/aboutimg.jpg" width="275" height="470" alt="Your Adventure Starts Here" />
   </div>
   
</fieldset><br>
    
  </body>
