<% provide(:title, "Home") %>
<!DOCTYPE html>

<!-- Start Slider BODY section -->
	<div id="wowslider-container1">
		<div class="ws_images">
			<a href="skiiing.html"><img src="/assets/home_page/banner1.jpg" alt="banner1" title="banner1" id="wows0"/></a>
			<a href="watersports.html"><img src="/assets/home_page/banner2.jpg" alt="banner2" title="banner2" id="wows1"/></a>
			<a href="walking.html"><img src="/assets/home_page/banner3.jpg" alt="banner3" title="banner3" id="wows2"/></a>
		</div>
	</div>
	<script type="text/javascript" src="engine1/script.js"></script>
    </script>
	<!-- End Slider BODY section -->	
           <br> 
	<div id="icons">
		<img src="/assets/home_page/headertext.png" width="380" height="60" alt="Your Adventure Starts Here" /> &nbsp;
        <a href="kayaking.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('icon1','','/assets/home_page/KayakingFade.png',0)"><img src="/assets/home_page/KayakingSolid.png" alt="Kayaking Holiday" name="icon1" width="70" height="70" border="0" id="icon1" /></a>&nbsp;
        <a href="watersports.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('icon2','','/assets/home_page/WaterSportsFade.png',0)"><img src="/assets/home_page/WaterSportsSolid.png" alt="Water Sports Holiday" name="icon2" width="76" height="70" border="0" id="icon2" /></a>&nbsp;
        <a href="skiing.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('icon3','','/assets/home_page/SkiingFade.png',0)"><img src="/assets/home_page/SkiingSolid.png" alt="Skiing Holiday" name="icon3" width="70" height="70" border="0" id="icon3" /></a>&nbsp;
        <a href="biking.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('icon4','','/assets/home_page/BikingFade.png',0)"><img src="/assets/home_page/BikingSolid.png" alt="Biking Holiday" name="icon4" width="70" height="70" border="0" id="icon4" /></a>&nbsp;
        <a href="walking.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('icon5','','/assets/home_page/WalkingFade.png',0)"><img src="/assets/home_page/WalkingSolid.png" alt="Walking Holiday" name="icon5" width="70" height="70" border="0" id="icon5" /></a>&nbsp;
        <a href="horseriding.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('icon6','','/assets/home_page/HorseRidingFade.png',0)"><img src="/assets/home_page/HorseRidingSolid.png" alt="Horse Riding Holiday" name="icon6" width="76" height="70" border="0" id="icon6" /></a>&nbsp;
    </div>
    <!--icons closed-->