<div id="footer">
  	
	  <div id="footer1">
		<h2>CONTACT</h2>
        <p>
		  <span class="boldtext">TEL:</span> +353 (1) 832 8167<br />
		  <span class="boldtext">FAX:</span> +353 (1) 832 8166<br />
		  <span class="boldtext">EMAIL:</span><a href="mailto:adventureholidays@gmail.com"> adventureholidays@gmail.com</a><br /><br /><br />
		  <a id="imagelink" href="http://ie.twitter.com/"><img src="assets/twitter.png" width="50" height="50" alt="Adventure Holidays Twitter"></a> &nbsp; 
          <a id="imagelink" href="http://www.facebook.com"><img src="assets/facebook.png" width="50" height="50" alt="Adventure Holidays Facebook" /></a> &nbsp  <br /><br /><br /><br />
	    </p>
		</div><!--footer1 closed-->
            
            <div id="footer2">
  			<h2>DESTINATIONS</h2>
			<p><ol>
		    <li><a href="asia.html">ASIA</a></li>
    		<li><a href="africa.html">AFRICA</a></li>
    		<li><a href="southamerica.html">SOUTH AMERICA</a></li>
    		<li><a href="europe.html">EUROPE</a></li>
		    </ol></p>         
			</div><!--footer2 closed-->
                      
            <div id="footer3">
  			<h2>USEFUL LINKS</h2>
			<ol>
		    <li><%= link_to "about",  about_path %></li>
    		<li><%= link_to "contact", contact_path %></li>
		    </ol>        
			</div><!--footer4 closed-->
            
            <div id="footer4">
  			<img src="assets/fadelogo.png" width="230" height="240" alt="logo">
			</div><!--footer4 closed-->
            
			</div><!--footer closed-->

			<div id="footerend">
            <h7>&nbsp;</h7>
            </div><!--footerend-->
            
</div><!--container closed-->

